{% extends "layout.jinja2" %}

{% block title %}
  Home Page
{% endblock %}

{% block main %}
  <table>
    <tr>
      <td>
        strings data
      </td>
    </tr>
    <tr>
      <td>
        here
      </td>
    </tr>
  </table>
{% endblock %}